<%- include('./components/header') %>

<% if (result.length > 0 ) { %>
  <% result.forEach(result => {%>
       <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h2><%= result.name %> </h2> 
            <p class="card-text"> <%= result.message%></p>
            <div class="showDetails">
              <a href="/feed/<%= result._id %>"> See More</a>
              <p><%= result.createdAt.toISOString() %></p>
            </div>
          </div>
        </div>
        <%}); %>
  <% } else {%>
      
      <%}%>
 



<%- include('./components/footer') %>